body{
    display: flex;
    justify-content: center;
    align-items: center;
}

div{
    margin-top: 300px;
    width: 600px;
    height: 150px;
    background-color: crimson;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 90px;
}