@font-face {
    font-family: Humane, serif;
    src: url("fonts/Humane-Regular.woff2") format ('woff2');
}





html,
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #2b2d42;
    font-family: system-ui, -apple-system, BlinkMacSystemFont,
        'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-image: url(images/blob\ \(1\).svg);
    background-repeat: no-repeat;
    background-size: 600px;
    background-position: relative;
    top: 80px;
}

.navbar__logo {
    color: #edf2f4;
    font-family: system-ui, -apple-system, BlinkMacSystemFont,
        'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 30px;
}

.header__logo {
    color: #edf2f4;
    font-family: system-ui, -apple-system, BlinkMacSystemFont,
        'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.navbar__span {
    color: #ef233c
}

.header__span {
    color: #ef233c
}

.navbar {
    width: 100%;
    display: flex;
    align-items: center;
    margin: 0;

}

.nav {
    flex: 1;
    text-align: right;

}

/*.nav,*/
.nav__list,
.nav__item {
    list-style: none;
    display: inline-block;
    margin-right: 30px;

}

.nav,
.nav__list,
.nav__item,
.nav__link {
    text-decoration: none;
    font-size: 14px;
    color: #edf2f4;
}



.nav__item :hover {
    /* pseudo-elements and pseudo-classes selectors*/
    color: #8d9aee;
    cursor: pointer;
}

.header {
    display: none;
}

.container2__title_large {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #edf2f4;
    font-size: 150px;


}

.container2__message {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #edf2f4;
    font-size: 25px;

}

.flexboxitems {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: space-between;
    background-color: #8d9aee
}

.flexboxitems__flexbox {
    margin: 20px;
    border-radius: 10px;
    border: #8d9aee 1px solid;
    box-shadow: 5px 5px 1px 2px rgba(255, 255, 255, 0.02);
}

.container2__span {
    color: #ef233c;
}

.titledot {
    color: #edf2f4;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #ef233c;
    margin-top: 5%;
}



.address {
    text-align: center;
    padding-top: 150px;


}

.address__link {
    color: white;
    width: 50%;
    margin-left: 10px;
}

.address__item {

    color: white;
    width: 25%;
}

.button {
    border: none;
    background-color: #ef233c;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 13px;
    border: #8d9aee 1px solid;
    border-radius: 15px;
    height: 30px;
    width: 200px;
    margin: 0 auto 0 auto;

}

.button:hover {
    color: #8d9aee;
    cursor: pointer;
}

.container3__title {
    font-size: 50px;
    color: #ef233c;
    padding-left: 10px;
    text-align: center;
}

.container3__message {
    font-size: 20px;
    color: #edf2f4;
    padding-left: 10px;
    text-align: center;
}


.container2__span1 {
    color: #edf2f4;
}

.flexboxitems2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: space-between;

}

.container3 {
    background-image: url(images/blob\ \(2\).svg);
    background-repeat: no-repeat;
    background-position: right;
    /* background-size: 600px; */
    /* height: 300px */
}

.flexboxitems__flexbox2 {
    margin: 20px;
    border-radius: 10px;
    border: #8d9aee 1px solid;

    object-fit: contain;
    object-fit: cover;
}

.container4 {
    background-image: none;
    background-repeat: no-repeat;

}

.container4__title {

    color: #ef233c;
    text-align: center;
}

.container4__message {
    color: #edf2f4;
    text-align: center;
}


@media only screen and (max-width:900px) {

    .nav {
        display: flex;
        justify-content: center;

        text-align: center;
        overflow: auto;
        white-space: nowrap;
    }


    .navbar__logo {
        display: none;

    }

    .header {
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .container2__title_large {
        display: flex;
        text-align: center;
        font-size: 50px;
    }

    .container2__message {
        font-size: 20px;
        text-align: center;

    }


    .container3 {
        background-image: none;
    }

    .container4 {
        background-image: none;
    }

    html,
    body {
        background-image: none;
    }

    html {
        font-size: calc(0.75rem + 1.5vw);
    }

}

@media only screen and (max-width:480px) {

    .footer {
        display: block;

    }

    .address__item {
        width: 100%;
        display: grid;
justify-content: center;

    }

    .address__link {
        width: 100%;
        display: grid;
        justify-content: center;
        margin-left:  0px;
    }
}


@media only screen and (max-width:1252px) {

    html,
    body {
        background-image: none;
    }


    .container3 {
        background-image: none;
    }

    .container4 {
        background-image: none;
    }
}

/*@media only screen and (max-width:500px){
    .footer{
        margin-top: 600px;
    }
}
@media only screen and (max-width:700px){
    .footer{
        margin-top: 800px;
    }
}*/