
$list-style1:none;
$text-decoration1:none;
$link-font-size: 15px;
$link-padding: 40px;
$hero-margin: 40px auto 0px auto;
$hero-shadow:    rgba(0, 0, 0, 0.35) 0px 5px 15px;
$background-image: "images/pattern.svg" ;
$background-repeat: no-repeat;
$fit: cover;
$fit2: contain;
$default-margin-padding:0;
$combineddiv-width:100%;
$line-height: 1.7;
$font-stack: system-ui, -apple-system, 
BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
$logo-margin:30px;
$nav-margin:30px;
$size1: 94px;
$size2:22px;
$hide: hidden;
$auto-margin: 120px auto 20px auto;
$footertop-font-size: 14px;
$border-bottom: 1px solid #001514;
$flex: flex;
$flex-wrap: wrap;
$responsive-margin: 50px auto 0px auto;