h1,p{color:#acacad; margin-top: 0;
    margin-bottom: 0.5rem;}


body{background-image: url("Imagess/blobanimation\ \(2\).svg") ; background-repeat: no-repeat ;
background-position: top right ;  width:1000px; height: 500px; 

}

body{background-color: #1a2248;}


button{background-color: #f4f1bb; border-color: #acacad; }

